@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, universe!</h1>
    <p>The time on the server is @DateTime.Now</p>
    <br>
    <p>docker run -d -p 6379:6379 --name redis1 redis</p>
    <p>curl -w "\n" http://localhost:port/api/home</p>
    <p>curl --data "value=something" http://localhost:port/api/home</p>    
</div>